.phone-screen {
   
    width: 475px;
    height: 769px;
    padding: 30px 0;
    margin: auto;
    .f-r {
      border-radius: 25px;
      overflow: hidden;
      width: 400px;
      background-color: #fff;
      margin: auto;
    }
  }
  